#leaveallocation-search-form{width:550px; float:right;}
#edit-search-box-wrapper{display:inline-block; margin-top:0;margin-bottom:0;}
#leaveallocation-search-form .casttbl{width:200px;float:left;border:none;}
#leaveallocation-search-form #edit-status-wrapper{float:left;margin-left:112px;margin-top:0;margin-bottom:0;}
#leaveallocation-search-form #edit-status{margin:0 !important;}
#leaveallocation-search-form #edit-status-wrapper label{display:inline;}