/* CSS Document */
body{margin:0; padding:0;}

select, input, textarea{font-size:20px; color:#424242;}

input, textarea{border:#c6c6c6 1px solid; padding:0px 5px;}

textarea{overflow:auto;}

#form_container{width:930px; margin:0 auto; font-family:verdana; font-size:12px; border:#bcbcbc 1px solid;}

#form_container input[type=text]{width:210px; height:18px; margin:0; padding:2px; vertical-align:middle; font-family:verdana; font-size:11px; border:#bcbcbc 1px solid;}

#da_password-wrapper input, textarea[type=textarea]{width:210px; height:18px; margin:0; padding:2px; vertical-align:middle; font-family:verdana; font-size:11px; border:#bcbcbc 1px solid;}

#edit-logindetails-cpassword input, textarea[type=textarea]{width:210px; height:18px; margin:0; padding:2px; vertical-align:middle; font-family:verdana; font-size:11px; border:#bcbcbc 1px solid;}

table{border-collapse:inherit !important; width:100%;  border:#cccccc 1px solid;}

#form_container .evenrow{background-color:#f2f2f2; padding:4; margin:0; color:#0f4465;}

#form_container .evenrow td{border:#cccccc 1px solid;}

#form_container .evenrow .form-item{margin:5px 0 5px 0;}

#form_container .evenrow .form-item label, #form_container .oddrow .form-item label{width:360px; float:left; display:inline; font-weight: bold; margin-left:30px;}

#form_container .evenrow select, #form_container .oddrow select{width:216px; font-size:11px; font-weight:normal; vertical-align:middle; padding:3px 0 3px 0; border:#bcbcbc 1px solid;}

#form_container .oddrow .form-item{margin:5px 0 5px 0;}
 
#form_container .oddrow{background-color:#FFFFFF; padding:4; margin:0; color:#0f4465;}

#form_container .oddrow td{border:#cccccc 1px solid;}

#form_container h2{font-family:Calibri; font-size:22px; font-weight:bold; margin:0 0 5px 0; padding:0; color:#004b7a;}

div.panel,p.flip
{
margin:0px;
padding:0px 400px 250px 0px;
text-align:left;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
div.panel
{
height:120px;
display:none;
}

.fieldset-wrapper .form-item .description {
    font-size: 0.85em;
    margin-left: 30px;
}