/* CSS Document */
body{margin:0; padding:0;}

select, input, textarea{font-size:20px; color:#424242;}

input, textarea{border:#c6c6c6 1px solid; padding:0px 5px;}

textarea{overflow:auto;}

#form_container{width:936px; margin:0 auto; font-family:verdana; font-size:12px;}

#form_container h2{font-family:verdana; font-size:16px; font-weight:bold; margin:0; padding:0;}

#form_container .evenrow{background-color:#d0e1f6; padding:0; margin:0;}
#form_container .oddrow{background-color:#FFFFFF; padding:0; margin:0;}

div.panel,p.flip
{
margin:0px;
padding:0px 400px 250px 0px;
text-align:left;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
div.panel
{
height:120px;
display:none;
}